body {
	background-color: #000;
	color: white;
    text-align: center;
}

.img-responsive {
	width:100%;
}

.catItemContainer {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
