/*
  Neighborhood Map Project
  Round River Conservation Studies Map
  Udacity FEND Nanodegree
  Developer: George Fischer
*/

html,
body {
  background-color: #000;
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  position: relative;
}

h1 {
  color: #525454;
  font-size: 18px;
  margin: 0 0 10px 0;
  text-align: center;
}

h2 {
  margin: 0 20px 0 0;
  font-size: 16px;
}

a:link {color: #fff;}
a:visited {color: #fff;}
a:hover {color: #c80b32;}
a:active {color: #fff;}

.button {
  background-color: #005496;
  color: #fff;
  border-radius: 8px;
  width: 25%;
  display: inline-block;
  padding: 5px;
  margin: 3px 10px 0 10px;
}

button:focus {outline:0;}

.buttonHighlight {
    background-color: black;
}

.buttonDefault {
    background-color: green;
}


.button-list {
  overflow: hidden;
  white-space: nowrap;
  list-style: none;
  font-size: 14px;
  line-height: 110%;
  margin: 10px 30px 10px 20px;
  padding: 0;
  color: #005496;
}

li:hover {
color: #fff;
}

/* This class is toggled on and off using the Knockout CSS binding */
/*  When a marker is highlighted by a user mouse hover,
    the corresponding list item will highlight*/
.hoverEffect {
  color: #fff;
}

#map {
  top: 0px;
  height: 100%;
  left: 0px;
  background-color: #000 !important;
  position: absolute;
  right: 0px;
}

.options-box {
  z-index: 100;
  position:relative;
  top: 0px;
  left: 0px;
  background: #af9a6b;
  padding:  3px 10px 10px 10px;
  text-align: left;
  width: 300px;
}

#about {
  margin: 0;
  padding: 0;
  text-align: right;
  text-decoration: none;
}

.social {
  margin: 7px;
  width: 32px;
}

#hero {
  width: 280px;
  margin: 5px;
  border-radius: 14px;
  border: 3px solid #005496;
}

#media_icons {
  text-decoration: none;
}

#iw-container  .iw-title {
   width: 218px;
   font-size: 18px;
   font-weight: 400;
   padding: 0px;
   background-color: #005496;
   color: white;
   margin-bottom: 1px;
   border-radius: 2px 2px 0 0; /* In accordance with the rounding of the default infowindow corners. */
}

#iw-moreInfo {
   width: 218px;
   text-align: right;
   padding: 0px;
   background-color: #005496;
   color: white;
   margin-bottom: 1px;
}

#iw-moreInfoText {
   text-decoration: none;
}


#infoWindowImage {
  width: 218px;
}

#iw-ImageDiv {
  margin-left: 20px;
}

#iw-Image {
  width: 36px;
}

.weather {
  background-color: #005496;
  display: flex;
  color: #fff;
  font-size: 12px;
}

#tempNow {
  font-size: 18px;
}

.listing {
  display: inline;
  margin: 0px;
}

.stats {
  margin: 8px 10px 0px 10px;
  border: 0;
}

#iw-creditLink {
  width: 36px;
}

#credits {
  width: 100%;
  text-align: right;
}


#slide {
  z-index: 500;
  position:relative;
  top: 0px;
  left: 272px;
  margin: 0px;
}

#slider{
    position:relative;
    left: 0px;
}

.closed{
    left: -286px !important;

}
.transition{

  -webkit-transition: left 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: left 0.3s ease-out;  /* Firefox 4-15 */
       -o-transition: left 0.3s ease-out;  /* Opera 10.50–12.00 */
          transition: left 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

}