/*
  Neighborhood Map Project
  Round River Conservation Studies Map
  Udacity FEND Nanodegree
  Developer: George Fischer
  Fall 2016
*/



/* Main Element Tags*/

html,
body {
  background-color: #000;
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  color: #525454;
  font-size: 18px;
  margin: 0 0 10px 0;
  text-align: center;
}

h2 {
  margin: 0 20px 0 0;
  font-size: 16px;
}

a:hover {
  color: #4cAf50;
}

a:link,
a:visited,
a:active {
  color: #fff;
}

a {
  text-decoration: none;
}




/* Geolocation Filter Buttons */

.button {
  background-color: #005496;
  color: #fff;
  border-radius: 8px;
  width: 28%;
  display: inline-block;
  padding: 5px;
  margin: 0px 6px 10px 6px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button:hover {
    background-color: #4cAf50; /* Green */
    color: #fff;
}

button:focus {outline:0;}

.buttonHighlight {
    background-color: #000;
}

.button-list {
  overflow: hidden;
  font-weight: bold;
  white-space: nowrap;
  list-style: none;
  font-size: 16px;
  line-height: 180%;
  margin: 0px 30px 5px 20px;
  padding: 0px;
  color: #000;
}

li:hover {
color: #fff;
}

.hoverEffect {
  color: #fff;
}



/* Slide Button for Options Box */

.slide {
  z-index: 500;
  position:relative;
  top: 3px;
  left: 1px;
  display: inline;
}

.slideButton {
  padding: 6px;
  border-radius: 4px;
  margin: 0px;
  background-color: #fff;
  font-weight: bold;
}

.slideButton:hover {
  background-color: #e6e6e6;
}

#slider{
    position:relative;
    left: 0px;
}

.closed{
    left: -316px !important;

}





/* Main Divs */

.container {
  height: 100%;
  position: relative;
}

#map {
  top: 0px;
  height: 100%;
  left: 0px;
  background-color: #000;
  position: absolute;
  right: 0px;
}

.options-box {
  z-index: 100;
  position:relative;
  top: -29px;
  left: 0px;
  background: #af9a6b;
  padding:  10px 10px 10px 10px;
  text-align: left;
  height: 100%;
  overflow: scroll;
  width: 300px;
  border-right: 3px solid #005496;
  border-bottom: 3px solid #005496;
}

.logo {
  width: 250px;
}

.logo-position {
padding: 0px 0px 5px 45px;
}

.social {
  margin: 7px;
  width: 32px;
}

.hero {
  width: 280px;
  margin: 0px 5px;
  border-radius: 14px;
  border: 3px solid #005496;
}

.media_icons {
  text-decoration: none;
}



/* Google Maps Info Windows*/

.iw-container  .iw-title {
   width: 198px;
   font-size: 18px;
   font-weight: 400;
   padding: 0px;
   background-color: #005496;
   color: #fff;
   padding: 10px 10px 0px 10px;
}

.iw-moreInfo {
  font-size: 12px;
   width: 208px;
   text-align: right;
   padding: 0px 10px 5px 0px;
   background-color: #005496;
   color: #fff;
   margin-bottom: 1px;
}

.iw-moreInfoText {
   text-decoration: none;
}

.infoWindowImage {
  width: 218px;
}

.iw-ImageDiv {
  margin-left: 20px;
}

.iw-Image {
  width: 36px;
}

.credits {
    position:relative;
    right: 0px;
    padding-left: 23px;
}

.weather {
  background-color: #005496;
  display: flex;
  color: #fff;
  font-size: 18px;
}

.listing {
  display: inline;
  margin: 0px;
}

.stats {
  margin: 8px 10px 0px 10px;
  border: 0px;
}

