/*
  Neighborhood Map Project
  Round River Conservation Studies Map
  Udacity FEND Nanodegree
  Developer: George Fischer
*/

html,
body {
  background-color: #000;
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
/*  height: 100%;*/
  position: relative;
}

/*input {
  font-size: 12px;
}*/

h1 {
  color: #525454;
  font-size: 18px;
  margin: 0 0 10px 0;
  text-align: center;
}

h2 {
  margin: 0 10px 0 0;
}

a:link {color: #c80b32;}
a:visited {color: #c80b32;}
a:hover {color: #005496;}
a:active {color: #c80b32;}

.button {
  background-color: #005496;
  color: white;
  border-radius: 8px;
  width: 48%;
  display: block;
  padding: 5px;
  margin: 5px;
}

/*#hide-listings,
#show-listings {
  width: 48%;
  display: block;
}*/

#map {
  top: 0px;
  height: 100%;
  left: 365px;
  border-radius: 14px;
  position: absolute;
  right: 0px;
  margin: 3px;
}

.options-box {
  margin: 3px;
  background: #af9a6b;
  border: 1px solid #999;
  border-radius: 14px;
  display: block;
/*  height: 100%;*/
  line-height: 35px;
  padding: 10px 10px 30px 10px;
  text-align: left;
  width: 340px;
}

.contact {
/*  margin: 0px 20px;*/
}

#about {
  text-align: right;
  text-decoration: none;
}

.social {
  margin: 10px;
  width: 32px;
}

#hero {
  border-radius: 14px;
  border: 3px solid #005496;
  margin-left: 7px;
}
