/* Cat Clicker Premium by George Fischer
   Yet another very cool Udacity Mini-Project */

body {
	background-color: black;
	color: white;
	margin: 0px;
}

.container {
	width: 320px;
}

.title {
	text-align: center;
	width:320px;
}

.catContainer {
	text-align: center;
	width: 320px;
}
.menuContainer {
	text-align: center;
	height: 150px;
}

.catList {
	margin-bottom: 10px;
}

img {
	width: 300px;
}

h1,
h2 {
	margin-bottom: 1px;
    color: red;
}

ul {
	list-style-type: none;
	margin-top: 5px;
	width:300px;
}

li{
	font-size: 20px;
  	width:50%;
  	float:left;
}​

p {
	margin: 5px;
	font: 14px;
}

