body {
	background-color: black;
	color: white;
	margin: 0px;
}

.container {
	width: 320px;
	margin: 20px;
}

h1,
h2 {
	margin-bottom: 1px;
    color: red;
}
ul {
	list-style-type: circle;
	margin-top: 5px;
}


p {
	margin: 5px;
	font: 14px;
}

.catItemContainer {
  float: left;
}
