/* Cat Clicker Premium by George Fischer
   Yet another very cool Udacity Mini-Project */

body {
	background-color: black;
	color: white;
	margin: 0px;
	text-align: center;
}

button {
	font-size: 18px;
	background-color: black;
	color: red;
	padding: 5px 10px;
	margin: 5px;
}

#adminContainer {
	background-color: lightblue;
}

#catlist {
		margin: 30px 10px;
}

#catNameTitle {
	font-size: 48px;
	color: red;
}

#catClickCount {
	color: yellow;
}
/*
.container {
	width: 320px;
}

.title {
	text-align: center;
	width:320px;
}

.catContainer {
	text-align: center;
	width: 320px;
}
.menuContainer {
	text-align: center;
	height: 150px;
}

#catClickCount {
	color: #ffff00;
	font-style: italic;
}

.catList {
	margin-bottom: 10px;
}

img {
	width: 300px;
}

h1,
h2 {
	margin-bottom: 1px;
    color: red;
}

ul {
	list-style-type: none;
	margin-top: 5px;
	width:300px;
}

li{
	font-size: 20px;
  	width:50%;
  	float:left;
}​

p {
	margin: 5px;
	font: 14px;
	color: #ffff00;
	font-style: italic;
}

*/